
/* ******
 BASIC STYLE
***** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat_400;
}
.container{
  width: 85%;
  margin: 0 auto;
}
img{
  width: 100%;
}
/* ****** COLORS STYLE ***** */
:root {
  --main-color: #252B42;
  --secondary-color: #26a6ef;
  --third-color: #737373;
  --bg-color: #e6e6e6;
  --default-color: #fff;

  --bg-smile: #b2e3ff;
  --bg-accept: #b9eaa7;
  --bg-setting: #ffdcd1;
  --line-color: #e6403f;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_img{
  width: 250px;
}
ul{
  list-style: none;
  display: flex;
  gap: 15px; 
  a{
    text-decoration: none;
    color: black;
  } 
}

.nav_logo_img{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav_logo_img_img{
  width: 25px;
}

.nav_logo_img_btn button{
 width: 100px;
 padding: 2px;
 border: none;
 border-radius: 15px;
}
.nav_logo_img_btn{
  display: flex;
  align-items: center;
}
.nav_logo_img_btn p{
  color: blue;
  padding: 10px;
}
.padd{
 height: 30px;
 background-color: blue;
}