
/* ******
 BASIC STYLE
***** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat_400;
}
.container{
  width: 85%;
  margin: 0 auto;
}
img{
  width: 100%;
}
/* ****** COLORS STYLE ***** */
:root {
  --main-color: #252B42;
  --secondary-color: #26a6ef;
  --third-color: #737373;
  --bg-color: #e6e6e6;
  --default-color: #fff;

  --bg-smile: #b2e3ff;
  --bg-accept: #b9eaa7;
  --bg-setting: #ffdcd1;
  --line-color: #e6403f;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_img{
  width: 250px;
  margin-top: 10px;
}
ul{
  list-style: none;
  display: flex;
  gap: 15px; 
  a{
    text-decoration: none;
    color: black;
  } 
}
.Pro{
  background-color: #4ba9ff;
  padding: 10px;
}
.pro a{
  color: white;
}
.asosiy{
  background-color: #4ba9ff;
  padding: 10px;
}
.asosiy a{
  color: white;
}
.nav_logo_img{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav_logo_img_img{
  width: 25px;
}

.nav_logo_img_btn button{
 width: 100px;
 padding: 2px;
 border: none;
 border-radius: 15px;
}
.nav_logo_img_btn{
  display: flex;
  align-items: center;
}
.nav_logo_img_btn p{
  color: blue;
  padding: 10px;
  cursor: pointer;
}
.padd{
 height: 30px;
 background-color: #4ba9ff;
}


/* main parts */


.main_input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_input{
  width: 250px;
  height: 33px;
  padding: 10px 0px 8px 10px;
}
.main_input button{
  width: 100px;
 padding: 7px;
 font-size: 16px;
 color: white;
 background-color: #4ba9ff;
 border: none;
}

.main_section{
  display: flex;
  /* width: 100%; */
  height: 60vh;
  gap: 5%;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.main_section_one{
  width: 40%;
  padding-top: 75px;
}
.main_section_one h1{
  font-size: 50px;
}

.main_section_one_btn{
  background-color: #e84f4f;
  padding: 7px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}
.main_section_one_btn_2{
  border: none;
  background-color: white;
  padding: 6px;
}
.main_section_imges{
  width: 600px;
 position: relative;
}
.main_section_imges_btns{
 margin-top: 70px;
 width: 450px;
}
.main_section_z_index{
  z-index: 2;
  position: absolute;
  left:0;
  top: 450px;
  right: 0;
}
.main_section_z_index button{
  padding: 10px;
  background-color: #4ba9ff;
  color: black;
  font-size: 20px;
  border: none;
  font-weight: bold;
  width: 40px ;
}
.main_section_imges_numbers{
  z-index: 2;
  position: absolute;
  top: 450px;
  right: 0;
  left: 300px;
}
.main_section_imges_numbers span{
  font-size: 30px;
  color: blue;
}
.nav_logo_img_btn i{
  font-size: 25px;
}
.main_buttons button{
  margin-top: 70px;
  padding: 20px;
  width: 400px;
  background-color: #4ba9ff;
  color: white;
  font-size: 20px;
  border: none;
}
.main_buttons {
  display: flex;
  gap: 15px;
}

/* aside part */

.aside{
  display: flex;
  margin-top: 15px;
 justify-content: space-between;
 align-items: center;
}

.aside_text,
.aside_imge{
  width: 500px;
}
.aside_text{
  font-size: 20px;
  padding: 15px;
}
.aside_text h1{
  margin-bottom: 10px;
  font-size: 35px;
}
.p_span{
  background-color: #252B42;
  color: white;
}
.aside_btn{
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  color: black;
  background-color: white;
  border: 1px solid gray;
}

/*  section   */


.section_card_flex_element_button_img{
  width: 25px;
}
.section_input_chack{
  display: flex;
  border: 2px solid black;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section_all button{
  width: 150px;
  padding: 10px;
  background-color:#4ba9ff;
  color: white;
  border: none;
  margin-left: 25px;
  margin-top: 5px;
}
.material-symbols-outlined{
  cursor: pointer;
  font-size: 25px;
}
.span_icon_style{
  color: black;
}


.section_card_flex_element_img{
  width: 150px;
}
.section_card_flex_element_img_text{
  width: 150px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 8px;
}
.section_card_flex_element{
  border: 2px solid gray;
  width: 180px;
  /* box-shadow: 10px 10px 10px 10px rgb(67, 65, 65); */
}
.section_card_flex_element_button{
  display: flex;
  justify-content: space-evenly;
}
.section_input_chack i{
  font-size: 25px;
}
.section_card_flex_element_button button{
  width: 60px;
  height: 25px;
  border: none;
  background-color: #4ba9ff;
  color: white;
}
.section_flex{
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}
.section_card{
  display: grid;
  margin-top: 32px;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 25px;
}
.section_nuvbar{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.section_li > a:hover{
background-color:#4ba9ff ;
color: white;
padding: 10px;
}

/* footer part */
.footer{
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  /* height: 400px; */
  background-color: #f5f5f5;
}
.footer_contact h1{
  padding-top: 15px;
}
.footer_asosiy h1{
 padding-top: 15px;
}
.footer_Akount{
 padding-top: 15px;

}
.footer_img_img{
  width: 250px;
}


/* secont html styles  */

/*  sorov input */
.sorov_input input{
 padding: 15px;
 width: 350px;
 margin: 10px;
}
.sorov_h1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.sorov{
  margin-top: 25px;
}

.inamarka_input{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
 margin-bottom: 10px;
  gap: 10px;
  margin-top: 10px;
}
.inamarka_input input{
  width: 350px;
  padding: 15px;
}
.qisimlar_input{
   margin-top: 15px;
   text-align: center;
}
.qisimlar_input input{
width: 60%;
padding: 15px;
margin-bottom: 10px;
}
.qisimlar_input button{
  width: 150px;
  padding: 10px;
  background-color: orangered;
  color: white;
  border: none;
}
.muttom{
  height: 300px;
  margin-bottom: 20px;
}

.logo_page{
  margin-top: 25px;
}


.email_page input{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  
}
.email_page_button button{
  padding: 10px;
  background-color: blue;
  color: white;
  border: 0;
  width: 90px;
}
.page_centor{
  text-align: center;
}
